@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');

/* ----------------------------------------
Base Styles
------------------------------------------- */
body {
	margin: 0 auto;
	text-align: left;
}
.raleway {
	font-family: Raleway, sans-serif;
	font-weight: 400;
}
.ralewaybold {
	font-family: Raleway, sans-serif;
	font-weight: 600;
}
.lato {
	font-family: Lato, sans-serif;
	font-weight: 400;
}
nav, header, footer {
	text-align: center;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}
nav {
	margin: 15px 0 15px 0;
}
nav a {
	font-size: 16px;
	color: #7B98AA;
	margin: 0 50px;
	text-transform: uppercase;
}
nav a:hover{
	color:#44545E;
}

header {
	margin: 0 0 40px 0;
	background-image: url("../images/blog_header_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 190px;
	padding: 110px 0 0 0;
}
header a {
	font-size: 37px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.grid {
	margin : 0 10%;
	display: grid;
	grid-template-columns: 68% 25%;
	grid-column-gap: 7%;
}

article {
	color: #44545E;
	width: 100%;
}
article h3, aside h3 {
	font-size: 18px;
	text-transform: uppercase;
}
article h2 {
	font-size: 23px;
	margin-bottom: 40px;
	text-transform: uppercase;
}
p {
	font-size: 15px;
}

aside {
	color: #44545E;
	margin: 55px 0 0 0;
}
aside img {
	margin: 30px 0;
}
aside li {
	font-size: 15px;
	margin:0 0 10px -22px;
}
aside li a {
	color: #7B98AA;
	text-transform: capitalize;
}

footer {
	margin: 50px 0 0 0;
	background-color: #CDF3F6;
	padding: 25px 0 5px 0;
	color: #44545E;
}
footer a {
	color: #44545E;
	font-size: 30px;
	margin: 0 20px;
	text-transform: capitalize;
}
footer div {
	margin: 20px 0 40px 0 ;
}
input {
	text-align: center;
	margin: 0 40px 0 0;
	border: none;
	font-size: 15px;
	height: 35px;
	width: 350px;
	word-spacing: 5px;
	color: #44545E;
}
button {
	background-color: #CDF3F6;
	height: 35px;
	width: 200px;
	border-color: #44545E;
	color: #44545E;
	font-size: 15px;
	word-spacing: 5px;
	cursor: pointer;
}
hr {
	border-color: #44545E;
	margin: 50px 0 15px 0;
}
#sarah {
	font-size: 15px;
	margin: 0 0 20px 0;
}

/* Fix for responsive images */
img {
	max-width: 100%;
}
