header h1, h2 {
  font-family: 'Eagle Lake', sans-serif;
  font-weight: 600; }

nav a, h3, h4, h5, h6, .homebox, #diceroll input, #encounterXp input, #monsterXp input, #diceroll select, #encounterXp select, #monsterXp select, #diceroll button, #encounterXp button, #monsterXp button, #diceroll #rolls, #diceroll #rollTotal, #encounterXp #rolls, #encounterXp #rollTotal, #monsterXp #rolls, #monsterXp #rollTotal, .races .racesGrid a, .classes .classesGrid a, .filter, #filterHead, .filter .filterlist div, .filter .levelfilterlist div, #filterHead .filterlist div, #filterHead .levelfilterlist div, #expandcollapse button, .levelup .levelupGrid a, .levels .filter span, .levels .filter .filterlist div {
  font-family: 'Tangerine', sans-serif;
  font-weight: 600; }

body, .homebox p, .levels .filter {
  font-family: "K2D", sans-serif;
  font-weight: 400; }

* {
  padding: 0;
  margin: 0; }

body {
  text-align: center;
  background: url("../images/parchment.jpg");
  font-size: 15px;
  color: #323232;
  width: 100vw;
  min-height: 1110px;
  overflow-x: hidden; }

header {
  background: url("../images/dmscreen.jpg");
  padding: 90px 0 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 50%;
  height: 250px;
  position: sticky;
  top: -200px;
  z-index: 2;
  box-shadow: 0 0 5px #852617; }
  header h1 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 50px;
    margin: 0 0 13px 0;
    position: sticky;
    top: 0px; }
    header h1 a {
      text-decoration: none;
      color: white; }
    header h1 a:hover {
      color: #141414; }
  header .hamburger {
    display: none;
    font-size: 35px;
    color: white;
    margin: 15px 20px 0 0;
    cursor: pointer; }
  header .hamburger:hover {
    color: #323232; }

nav {
  position: sticky;
  top: 95px; }
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 30px;
    letter-spacing: 1px; }
  nav a:hover {
    color: #141414; }

main {
  position: relative;
  margin: 50px 10%;
  text-align: center; }

h2 {
  font-size: 45px;
  margin: 0 0 30px 0; }

h3 {
  font-size: 40px; }

h4 {
  display: inline;
  cursor: pointer;
  text-align: left;
  font-size: 40px; }
  h4 span {
    font-size: 25px;
    display: inline-block;
    transition: all 300ms ease-in-out; }

h4:hover {
  color: #852617; }

h5 {
  text-align: left;
  font-size: 30px;
  text-decoration: underline; }
  h5 span {
    font-size: 20px;
    display: inline-block;
    transition: all 300ms ease-in-out; }

h6 {
  font-size: 25px;
  text-align: left;
  text-decoration: underline; }

div {
  margin: 10px 0; }

p {
  font-size: 15px;
  text-align: left;
  color: #555555;
  text-indent: 40px; }

ol {
  font-size: 25px;
  text-align: left;
  color: #555555;
  margin: 0 0 0 50px; }
  ol li {
    margin: 10px 0 0 0; }

ul li {
  list-style-type: disc;
  text-align: left;
  color: #555555; }

.homegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  justify-items: center; }

.homebox {
  display: inline-block;
  border: 1px solid #323232;
  border-radius: 10px;
  box-shadow: 0 0 5px #852617;
  background-color: rgba(255, 255, 255, 0.4);
  width: 500px;
  margin: 40px 0 0 0;
  padding: 0px 0px 20px 0; }
  .homebox h2 {
    font-size: 30px;
    margin: 0 0 20px 0;
    padding: 5px 0 5px 20px;
    text-align: left;
    background-color: rgba(152, 167, 77, 0.4); }
  .homebox h3 span {
    cursor: pointer; }
  .homebox div {
    font-size: 30px; }
  .homebox p {
    padding: 0 20px; }

#diceroll input, #encounterXp input, #monsterXp input {
  color: #323232;
  font-size: 30px;
  padding: 3px 2px 3px 10px;
  width: 180px;
  border: 1px solid #323232;
  height: 34px; }
#diceroll input[name='numPlayers'], #diceroll input[name='numMonsters'], #diceroll input[name='partySize'], #encounterXp input[name='numPlayers'], #encounterXp input[name='numMonsters'], #encounterXp input[name='partySize'], #monsterXp input[name='numPlayers'], #monsterXp input[name='numMonsters'], #monsterXp input[name='partySize'] {
  margin: 0 0 0 5px; }
#diceroll input[type='number'], #encounterXp input[type='number'], #monsterXp input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }
#diceroll input[type='number']::-webkit-inner-spin-button, #diceroll input[type=number]::-webkit-outer-spin-button, #encounterXp input[type='number']::-webkit-inner-spin-button, #encounterXp input[type=number]::-webkit-outer-spin-button, #monsterXp input[type='number']::-webkit-inner-spin-button, #monsterXp input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }
#diceroll input[type='number'], #diceroll input[type='text'], #encounterXp input[type='number'], #encounterXp input[type='text'], #monsterXp input[type='number'], #monsterXp input[type='text'] {
  border-radius: 5px 0 0 5px; }
#diceroll .arrows, #encounterXp .arrows, #monsterXp .arrows {
  display: inline-block;
  margin: 0 0 -10px -4px;
  height: 34px; }
#diceroll #diceUp, #diceroll #diceDown, #diceroll #modUp, #diceroll #modDown, #diceroll .playerUp, #diceroll .playerDown, #diceroll .playerLevelUp, #diceroll .playerLevelDown, #diceroll .monsterUp, #diceroll .monsterDown, #diceroll .crUp, #diceroll .crDown, #diceroll #partyUp, #diceroll #partyDown, #encounterXp #diceUp, #encounterXp #diceDown, #encounterXp #modUp, #encounterXp #modDown, #encounterXp .playerUp, #encounterXp .playerDown, #encounterXp .playerLevelUp, #encounterXp .playerLevelDown, #encounterXp .monsterUp, #encounterXp .monsterDown, #encounterXp .crUp, #encounterXp .crDown, #encounterXp #partyUp, #encounterXp #partyDown, #monsterXp #diceUp, #monsterXp #diceDown, #monsterXp #modUp, #monsterXp #modDown, #monsterXp .playerUp, #monsterXp .playerDown, #monsterXp .playerLevelUp, #monsterXp .playerLevelDown, #monsterXp .monsterUp, #monsterXp .monsterDown, #monsterXp .crUp, #monsterXp .crDown, #monsterXp #partyUp, #monsterXp #partyDown {
  margin: 0 10px 0 -1px;
  background-color: white;
  height: 19.5px;
  width: 20px;
  border-right: 1px solid #323232;
  border-bottom: 1px solid #323232;
  border-top: 1px solid white;
  border-radius: 0 0 5px 0; }
#diceroll #diceUp, #diceroll #modUp, #diceroll .playerUp, #diceroll .playerLevelUp, #diceroll .monsterUp, #diceroll .crUp, #diceroll #partyUp, #encounterXp #diceUp, #encounterXp #modUp, #encounterXp .playerUp, #encounterXp .playerLevelUp, #encounterXp .monsterUp, #encounterXp .crUp, #encounterXp #partyUp, #monsterXp #diceUp, #monsterXp #modUp, #monsterXp .playerUp, #monsterXp .playerLevelUp, #monsterXp .monsterUp, #monsterXp .crUp, #monsterXp #partyUp {
  border-top: 1px solid #323232;
  border-bottom: 1px solid white;
  margin: -4px 0 -1px -1px;
  border-radius: 0 5px 0 0; }
#diceroll .upArrow, #encounterXp .upArrow, #monsterXp .upArrow {
  margin: 6px auto;
  height: 0px;
  width: 0px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 6px solid #323232; }
#diceroll .downArrow, #encounterXp .downArrow, #monsterXp .downArrow {
  margin: 4px auto;
  height: 0px;
  width: 0px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #323232; }
#diceroll select, #encounterXp select, #monsterXp select {
  color: #323232;
  font-size: 30px;
  padding: 3px 10px;
  width: 150px;
  border: 1px solid #323232;
  border-radius: 5px; }
#diceroll input:focus, #diceroll select:focus, #encounterXp input:focus, #encounterXp select:focus, #monsterXp input:focus, #monsterXp select:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #852617; }
#diceroll button, #encounterXp button, #monsterXp button {
  color: #323232;
  font-size: 30px;
  padding: 10px 18px 6px 10px;
  cursor: pointer;
  margin: 10px;
  background: rgba(152, 167, 77, 0.4);
  border: 1px solid black;
  border-radius: 8px; }
#diceroll button[name='addLevel'], #diceroll button[name='addMonster'], #encounterXp button[name='addLevel'], #encounterXp button[name='addMonster'], #monsterXp button[name='addLevel'], #monsterXp button[name='addMonster'] {
  margin: 0 10px 0 0; }
#diceroll button:hover, #encounterXp button:hover, #monsterXp button:hover {
  color: white;
  background: rgba(133, 38, 23, 0.9); }
#diceroll button:active, #encounterXp button:active, #monsterXp button:active {
  box-shadow: 0 0 5px #852617; }
#diceroll button:focus, #encounterXp button:focus, #monsterXp button:focus {
  outline: none; }
#diceroll #rolls, #diceroll #rollTotal, #encounterXp #rolls, #encounterXp #rollTotal, #monsterXp #rolls, #monsterXp #rollTotal {
  margin: 10px 20px 0 20px; }

.races .racesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin: 0 auto; }
  .races .racesGrid span {
    position: relative;
    height: 206px;
    font-size: 35px;
    cursor: pointer; }
  .races .racesGrid a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    transition: all 150ms ease-in-out; }
  .races .racesGrid a:hover {
    background: rgba(20, 20, 20, 0.7);
    font-size: 40px; }
  .races .racesGrid #dwarfRace {
    background: url("../images/dwarf.png");
    background-repeat: no-repeat;
    background-position: 85% 5%; }
  .races .racesGrid #elfRace {
    background: url("../images/elf.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .races .racesGrid #halflingRace {
    background: url("../images/halfling.png");
    background-repeat: no-repeat;
    background-position: 40% 5%; }
  .races .racesGrid #humanRace {
    background: url("../images/human.png");
    background-repeat: no-repeat;
    background-position: 50% 5%; }
  .races .racesGrid #dragonbornRace {
    background: url("../images/dragonborn.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .races .racesGrid #gnomeRace {
    background: url("../images/gnome.png");
    background-repeat: no-repeat;
    background-position: 40% 15%; }
  .races .racesGrid #halfElfRace {
    background: url("../images/half-elf.png");
    background-repeat: no-repeat;
    background-position: 100% top; }
  .races .racesGrid #halfOrcRace {
    background: url("../images/half-orc.png");
    background-repeat: no-repeat;
    background-position: 80% 5%; }
  .races .racesGrid #tieflingRace {
    background: url("../images/tiefling.png");
    background-repeat: no-repeat;
    background-position: 80% top; }

.classes .classesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%; }
  .classes .classesGrid span {
    position: relative;
    height: 308px;
    font-size: 35px;
    cursor: pointer; }
  .classes .classesGrid a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    transition: all 150ms ease-in-out; }
  .classes .classesGrid a:hover {
    background: rgba(20, 20, 20, 0.7);
    font-size: 40px; }
  .classes .classesGrid #barbarianClass {
    background: url("../images/barbarian.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .classes .classesGrid #bardClass {
    background: url("../images/bard.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .classes .classesGrid #clericClass {
    background: url("../images/cleric.png");
    background-repeat: no-repeat;
    background-position: 75% top; }
  .classes .classesGrid #druidClass {
    background: url("../images/druid.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .classes .classesGrid #fighterClass {
    background: url("../images/fighter.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .classes .classesGrid #monkClass {
    background: url("../images/monk.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .classes .classesGrid #paladinClass {
    background: url("../images/paladin.png");
    background-repeat: no-repeat;
    background-position: 100% top; }
  .classes .classesGrid #rangerClass {
    background: url("../images/ranger.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .classes .classesGrid #rogueClass {
    background: url("../images/rogue.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .classes .classesGrid #sorcerorClass {
    background: url("../images/sorceror.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .classes .classesGrid #warlockClass {
    background: url("../images/warlock.png");
    background-repeat: no-repeat;
    background-position: 75% top; }
  .classes .classesGrid #wizardClass {
    background: url("../images/wizard.png");
    background-repeat: no-repeat;
    background-position: 55% 8%; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 40px; }
  .grid a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: #323232; }
  .grid a:hover {
    color: #852617; }

.details {
  position: relative; }
  .details img {
    max-width: 35%;
    margin: 0 0 0 25px;
    float: right; }
  .details div {
    text-align: left;
    margin: 15px 0 0 0; }
  .details h5 {
    margin: 15px 0 0 0; }
  .details h6 {
    margin: 15px 0 0 40px;
    color: #323232; }
  .details p {
    margin: 10px 0 0 0; }
  .details a {
    text-decoration: none;
    color: #852617; }
  .details a:hover {
    color: #555555; }
  .details ul {
    margin: 10px 0 0 60px; }
  .details .classspecific h5 {
    cursor: pointer; }
  .details .classspecific h5:hover {
    color: #852617; }
  .details .racespecific {
    margin: 15px 0 0 40px; }

.hanging p {
  text-indent: -40px;
  margin: 10px 0 0 80px; }

.dark {
  color: #323232;
  margin: 0;
  padding: 0; }

.turn {
  transform: rotateZ(-90deg); }

.subraces p {
  margin: 10px 0 0 40px; }
.subraces .hanging p {
  text-indent: -40px;
  margin: 10px 0 0 120px; }
.subraces ul li {
  margin-left: 40px; }

.raceFeatures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 0 0 40px;
  border: 2px solid #323232;
  border-radius: 5px;
  box-shadow: 0 0 5px #852617;
  padding: 5px 5px 0 5px;
  background-color: rgba(255, 255, 255, 0.4); }
  .raceFeatures h5, .raceFeatures p {
    margin: 0;
    min-height: 32px;
    padding: 3px 6px 2px 6px;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .raceFeatures .oddrow {
    background-color: rgba(152, 167, 77, 0.4); }

.levelFeatures {
  display: grid;
  margin: 10px 0 0 0;
  border: 2px solid #323232;
  border-radius: 5px;
  box-shadow: 0 0 5px #852617;
  padding: 5px 5px 0 5px;
  background-color: rgba(255, 255, 255, 0.4); }
  .levelFeatures h5, .levelFeatures h6, .levelFeatures p {
    margin: 0;
    min-height: 32px;
    padding: 3px 6px 2px 6px;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  .levelFeatures .oddrow {
    background-color: rgba(152, 167, 77, 0.4); }

#barbarianLevelFeatures {
  grid-template-columns: minmax(65px, 1fr) 1fr 2fr minmax(53px, 1fr) 1fr; }

#bardLevelFeatures {
  grid-template-columns: minmax(65px, 1fr) 1fr 2fr; }

#bardSpellLevelFeatures {
  grid-template-columns: minmax(65px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

#clericLevelFeatures {
  grid-template-columns: minmax(65px, 1fr) 1fr 2fr; }

#clericSpellLevelFeatures {
  grid-template-columns: minmax(65px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

#clericDomainLevelFeatures {
  grid-template-columns: minmax(65px, 1fr) 1fr;
  margin: 10px 0 0 40px; }

#druidLevelFeatures {
  grid-template-columns: minmax(65px, 1fr) 1fr 1fr 1fr;
  margin: 10px 0 0 40px; }

#druidCircleLevelFeatures {
  grid-template-columns: minmax(65px, 1fr) 1fr;
  margin: 10px 0 0 40px; }

.spellgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 40px; }
  .spellgrid a {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: #323232; }

#spells .spelllevels, #spells .spellclasses, #spells .spellschools, #spells #back {
  display: none; }
#spells #back {
  text-align: left;
  margin: -20px 0 0 90px; }
  #spells #back span {
    cursor: pointer;
    font-size: 45px; }

.spells div {
  text-align: left;
  margin: 15px 0 0 0; }
  .spells div .classhidevar, .spells div .levelhidevar, .spells div .schoolhidevar {
    display: none; }
  .spells div section p {
    text-indent: 40px;
    margin: 15px 0 0 20px; }
  .spells div section span p {
    margin: 5px 0 0 20px; }
  .spells div section ul li {
    margin-left: 80px; }
  .spells div section .capitalize {
    text-transform: capitalize; }

#filters {
  display: grid;
  grid-template-columns: 100px 100px 100px 1fr;
  margin: 0 auto 30px auto;
  max-width: 400px; }
  #filters span {
    cursor: pointer; }
  #filters #filterHead {
    cursor: default; }

.selected {
  color: #852617; }

.filter, #filterHead {
  position: relative;
  font-size: 30px;
  text-align: center;
  margin: 0 10px; }
  .filter .filterlist, .filter .levelfilterlist, #filterHead .filterlist, #filterHead .levelfilterlist {
    position: absolute;
    display: none;
    border: 1px solid #323232;
    border-radius: 5px;
    padding: 0 5px;
    box-shadow: 0 0 5px #852617;
    background-color: rgba(255, 255, 255, 0.9);
    top: 20px;
    left: -10px;
    z-index: 1;
    text-align: center;
    font-size: 25px;
    width: 90px; }
    .filter .filterlist div, .filter .levelfilterlist div, #filterHead .filterlist div, #filterHead .levelfilterlist div {
      cursor: pointer; }
    .filter .filterlist div:hover, .filter .levelfilterlist div:hover, #filterHead .filterlist div:hover, #filterHead .levelfilterlist div:hover {
      color: #852617; }
    .filter .filterlist input, .filter .levelfilterlist input, #filterHead .filterlist input, #filterHead .levelfilterlist input {
      display: none;
      height: 12px;
      width: 12px;
      margin: 0 0 0 5px; }
  .filter span:hover, #filterHead span:hover {
    color: #852617; }

#expandcollapse {
  float: right;
  margin: 0; }
  #expandcollapse button {
    color: #323232;
    font-size: 25px;
    padding: 10px 18px 6px 10px;
    cursor: pointer;
    background: rgba(152, 167, 77, 0.4);
    border: 1px solid black;
    border-radius: 8px; }
  #expandcollapse button:hover {
    color: white;
    background: rgba(133, 38, 23, 0.9); }
  #expandcollapse button:active {
    box-shadow: 0 0 5px #852617; }
  #expandcollapse button:focus {
    outline: none; }

.feats div {
  text-align: left;
  margin: 15px 0 0 0; }
  .feats div section p {
    text-indent: 40px;
    margin: 15px 0 0 20px; }
  .feats div section span p {
    text-indent: -40px;
    margin: 15px 0 0 60px; }
  .feats div section ul {
    color: #555555;
    margin: 15px 0 0 80px; }

.levelup .levelupGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%; }
  .levelup .levelupGrid span {
    position: relative;
    height: 308px;
    font-size: 30px;
    cursor: pointer; }
  .levelup .levelupGrid a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    transition: all 150ms ease-in-out;
    color: white;
    text-decoration: none; }
  .levelup .levelupGrid a:hover {
    background: rgba(20, 20, 20, 0.7);
    font-size: 35px; }
  .levelup .levelupGrid #barbarianLevelUp {
    background: url("../images/barbarian.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .levelup .levelupGrid #bardLevelUp {
    background: url("../images/bard.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .levelup .levelupGrid #clericLevelUp {
    background: url("../images/cleric.png");
    background-repeat: no-repeat;
    background-position: 75% top; }
  .levelup .levelupGrid #druidLevelUp {
    background: url("../images/druid.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .levelup .levelupGrid #fighterLevelUp {
    background: url("../images/fighter.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .levelup .levelupGrid #monkLevelUp {
    background: url("../images/monk.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .levelup .levelupGrid #paladinLevelUp {
    background: url("../images/paladin.png");
    background-repeat: no-repeat;
    background-position: 100% top; }
  .levelup .levelupGrid #rangerLevelUp {
    background: url("../images/ranger.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .levelup .levelupGrid #rogueLevelUp {
    background: url("../images/rogue.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .levelup .levelupGrid #sorcerorLevelUp {
    background: url("../images/sorceror.png");
    background-repeat: no-repeat;
    background-position: 50% top; }
  .levelup .levelupGrid #warlockLevelUp {
    background: url("../images/warlock.png");
    background-repeat: no-repeat;
    background-position: 75% top; }
  .levelup .levelupGrid #wizardLevelUp {
    background: url("../images/wizard.png");
    background-repeat: no-repeat;
    background-position: 50% top; }

.levels #filters {
  display: inline; }
.levels span {
  margin: 0 auto; }
.levels a {
  text-decoration: none;
  color: #852617; }
.levels a:hover {
  color: #323232; }
.levels ul {
  margin: 0 0 0 40px; }
  .levels ul li {
    color: #323232;
    margin: 0; }
.levels button {
  padding: 0; }
.levels .timeline-container {
  font-size: 18px; }
.levels .timelineflex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0; }
.levels .filter {
  margin: 0;
  font-size: 22px; }
  .levels .filter div {
    margin: 10px 0 0 0; }
  .levels .filter span {
    font-size: 30px; }
  .levels .filter .filterlist {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 180px;
    width: 380px;
    left: calc(50% - 200px);
    top: 142px;
    padding: 10px; }
    .levels .filter .filterlist div {
      font-size: 30px;
      padding: 5px 0 0 0;
      margin: 0;
      cursor: pointer; }

::-webkit-scrollbar {
  width: 22px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.3);
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 15px; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50, 50, 50, 0.5); }

@media screen and (max-width: 1360px) {
  .homegrid {
    grid-template-columns: 1fr;
    margin: 10px 15% 50px 15%; }

  .races .racesGrid {
    width: 100%; } }
@media screen and (max-width: 800px) {
  main {
    margin: 10px 5% 50px 5%; }

  header {
    padding: 0;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 55px;
    text-align: left;
    top: 0; }
    header nav .hamburger {
      display: block; }
    header nav .links {
      display: none;
      grid-template-columns: 1fr;
      position: fixed;
      left: 10%;
      top: 70px;
      width: 80%;
      text-align: center;
      border: 1px solid #323232;
      border-radius: 10px;
      padding: 20px 0;
      box-shadow: 0 0 5px #852617;
      background-color: rgba(255, 255, 255, 0.95); }
      header nav .links a {
        display: inline-block;
        color: #852617;
        margin: 15px 5px;
        font-size: 35px; }
      header nav .links a:hover {
        color: #323232; }
    header h1 {
      margin: 8px 0 0 20px;
      font-size: 30px; }

  .homegrid {
    margin: 10px 5% 50px 5%; }

  .classes .classesGrid {
    grid-template-columns: 1fr 1fr 1fr; }
    .classes .classesGrid span {
      height: 154px; }

  .levelup .levelupGrid {
    grid-template-columns: 1fr 1fr 1fr; }
    .levelup .levelupGrid span {
      height: 154px; }

  .raceFeatures h5, .raceFeatures h6, .raceFeatures p, .levelFeatures h5, .levelFeatures h6, .levelFeatures p {
    padding: 3px 0 2px 0; } }
@media screen and (max-width: 560px) {
  main {
    margin: 10px 1% 48px 1%; }

  .homegrid {
    margin: 10px 0 50px 0; }

  .homebox {
    width: 400px; }

  #encounterXp input[name='numPlayers'], #encounterXp input[name='numMonsters'], #monsterXp input[name='numPlayers'], #monsterXp input[name='numMonsters'] {
    margin: 0 0 10px 0px; }
  #encounterXp input[name='partySize'], #monsterXp input[name='partySize'] {
    margin: 0 0 0 1px; }
  #encounterXp #partyUp, #encounterXp #partyDown, #monsterXp #partyUp, #monsterXp #partyDown {
    margin-right: -4px; }

  .grid {
    grid-gap: 10px; }

  h2 {
    margin: 0 0 10px 0; }

  #filters {
    grid-template-columns: 1fr 1fr; }

  .filter .filterlist, .filter .levelfilterlist {
    position: fixed;
    top: 240px;
    left: calc(50% - 40px); }

  #expandcollapse {
    float: none;
    text-align: center; }

  .levels .filter .filterlist {
    position: absolute;
    left: calc(50% - 200px);
    top: 172px; }

  .timeline-container {
    width: 400px; }

  .timeline-list {
    width: 400px; }

  .timeline-item {
    width: 360px;
    height: 420px; } }
@media screen and (max-width: 400px) {
  main {
    margin: 0 0 30px 0; }

  .homegrid {
    margin: 10px 0 50px 0; }

  .homebox {
    width: 400px; }

  header h1 {
    font-size: 25px;
    margin: 12px 0 0 20px; }

  .races .racesGrid {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr; }
    .races .racesGrid span {
      height: 75px; }
    .races .racesGrid #dwarfRace {
      background-position: 65% 17%; }
    .races .racesGrid #elfRace {
      background-position: 50% 4%; }
    .races .racesGrid #halflingRace {
      background-position: 0% 15%; }
    .races .racesGrid #humanRace {
      background-position: 30% 7%; }
    .races .racesGrid #dragonbornRace {
      background-position: 20% 8%; }
    .races .racesGrid #gnomeRace {
      background-position: 12% 18%; }
    .races .racesGrid #halfElfRace {
      background-position: 60% 4%; }
    .races .racesGrid #halfOrcRace {
      background-position: 75% 10%; }
    .races .racesGrid #tieflingRace {
      background-position: 50% 3%; }

  .classes .classesGrid {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto; }
    .classes .classesGrid span {
      height: 75px; }
    .classes .classesGrid #barbarianClass {
      background-position: 100% 5%; }
    .classes .classesGrid #bardClass {
      background-position: 100% 10%; }
    .classes .classesGrid #clericClass {
      background-position: 100% 17%; }
    .classes .classesGrid #druidClass {
      background-position: 50% 10%; }
    .classes .classesGrid #fighterClass {
      background-position: 100% 7%; }
    .classes .classesGrid #monkClass {
      background-position: 100% 7%; }
    .classes .classesGrid #paladinClass {
      background-position: 100% 10%; }
    .classes .classesGrid #rangerClass {
      background-position: 100% 7%; }
    .classes .classesGrid #rogueClass {
      background-position: 100% 8%; }
    .classes .classesGrid #sorcerorClass {
      background-position: 100% 7%; }
    .classes .classesGrid #warlockClass {
      background-position: 100% 8%; }
    .classes .classesGrid #wizardClass {
      background-position: 100% 15%; }

  .levelup .levelupGrid {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto; }
    .levelup .levelupGrid span {
      height: 75px; }
    .levelup .levelupGrid #barbarianLevelUp {
      background-position: 100% 5%; }
    .levelup .levelupGrid #bardLevelUp {
      background-position: 100% 10%; }
    .levelup .levelupGrid #clericLevelUp {
      background-position: 100% 17%; }
    .levelup .levelupGrid #druidLevelUp {
      background-position: 50% 10%; }
    .levelup .levelupGrid #fighterLevelUp {
      background-position: 100% 7%; }
    .levelup .levelupGrid #monkLevelUp {
      background-position: 100% 7%; }
    .levelup .levelupGrid #paladinLevelUp {
      background-position: 100% 10%; }
    .levelup .levelupGrid #rangerLevelUp {
      background-position: 100% 7%; }
    .levelup .levelupGrid #rogueLevelUp {
      background-position: 100% 8%; }
    .levelup .levelupGrid #sorcerorLevelUp {
      background-position: 100% 7%; }
    .levelup .levelupGrid #warlockLevelUp {
      background-position: 100% 8%; }
    .levelup .levelupGrid #wizardLevelUp {
      background-position: 100% 15%; } }

/*# sourceMappingURL=style.css.map */
