$headerhover: rgb(20, 20, 20);
$dark: rgb(50, 50, 50);
$light: rgb(85, 85, 85);
$shadowcolor: rgb(133, 38, 23);
$shadowcoloropaque: rgba(133, 38, 23, .9);
$boxcolor: rgb(152, 167, 77);
$boxcoloropaque: rgba(152, 167, 77, .4);

%topheadfont {
    font-family: 'Eagle Lake', sans-serif;
    font-weight: 600;
}
%headfont {
    font-family: 'Tangerine', sans-serif;
    font-weight: 600;
}
%bodyfont {
    font-family: "K2D", sans-serif;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    background: url('../images/parchment.jpg');
    font-size: 15px;
    color: $dark;
    width: 100vw;
    min-height: 1110px;
    overflow-x: hidden;
    @extend %bodyfont;
}
header {
    background: url('../images/dmscreen.jpg');
    padding: 90px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    height: 250px;
    position: sticky;
    top: -200px;
    z-index: 2;
    box-shadow: 0 0 5px $shadowcolor;
    h1 {
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 50px;
        margin: 0 0 13px 0;
        position: sticky;
        top: 0px;
        @extend %topheadfont;
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: $headerhover;
        }
    }
    .hamburger {
        display: none;
        font-size: 35px;
        color: white;
        margin: 15px 20px 0 0;
        cursor: pointer;
    }
    .hamburger:hover {
        color: $dark;
    }
}
nav {
    position: sticky;
    top: 95px;
    a {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 40px;
        letter-spacing: 1px;
        @extend %headfont;
    }
    a:hover {
        color: $headerhover;
    }
}
main {
    position: relative;
    margin: 50px 10%;
    text-align: center;
}
h2 {
    font-size: 45px;
    margin: 0 0 30px 0;
    @extend %topheadfont;
}
h3 {
    font-size: 40px;
    @extend %headfont;
}
h4 {
    display: inline;
    cursor: pointer;
    text-align: left;
    font-size: 40px;
    @extend %headfont;
    span {
        font-size: 25px;
        display: inline-block;
        transition: all 300ms ease-in-out;
    }
}
h4:hover {
    color: $shadowcolor;
}
h5 {
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
    @extend %headfont;
    span {
        font-size: 20px;
        display: inline-block;
        transition: all 300ms ease-in-out;
    }
}
h6 {
    font-size: 25px;
    text-align: left;
    text-decoration: underline;
    @extend %headfont;
}
div {
    margin: 10px 0;
}
p {
    font-size: 15px;
    text-align: left;
    color: $light;
    text-indent: 40px;
}
ol {
    font-size: 25px;
    text-align: left;
    color: $light;
    margin: 0 0 0 50px;
    li {
        margin: 10px 0 0 0;
    }
}
ul {
    li {
        list-style-type: disc;
        text-align: left;
        color: $light;
    }
}

.homegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    justify-items: center;
}
.homebox {
    display: inline-block;
    border: 1px solid $dark;
    border-radius: 10px;
    box-shadow: 0 0 5px $shadowcolor;
    background-color: rgba(255, 255, 255, .4);
    width: 500px;
    margin: 40px 0 0 0;
    padding: 0px 0px 20px 0;
    @extend %headfont;
    h2 {
        font-size: 30px;
        margin: 0 0 20px 0;
        padding: 5px 0 5px 20px;
        text-align: left;
        background-color: $boxcoloropaque;
    }
    h3{
        span {
            cursor: pointer;
        }
    }
    div {
        font-size: 30px;
    }
    p {
        padding: 0 20px;
        @extend %bodyfont;
    }
}
#diceroll, #encounterXp, #monsterXp {
    input {
        color: $dark;
        font-size: 30px;
        padding: 3px 2px 3px 10px;
        width: 180px;
        border: 1px solid $dark;
        height: 34px;
        @extend %headfont;
    }
    input[name='numPlayers'], input[name='numMonsters'] {
        margin: 0 0 0 10px;
    }
    input[type='number'] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }
    input[type='number']::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    input[type='number'], input[type='text'] {
        border-radius: 5px 0 0 5px;
    }
    .arrows {
        display: inline-block;
        margin: 0 0 -10px -4px;
        height: 34px;
    }
    #diceUp, #diceDown, #modUp, #modDown, .playerUp, .playerDown, .playerLevelUp, .playerLevelDown, .monsterUp, .monsterDown, .crUp, .crDown, #partyUp, #partyDown {
        margin: 0 10px 0 -1px;
        background-color: white;
        height: 19.5px;
        width: 20px;
        border-right: 1px solid $dark;
        border-bottom: 1px solid $dark;
        border-top: 1px solid white;
        border-radius: 0 0 5px 0;
    }
    #diceUp, #modUp, .playerUp, .playerLevelUp, .monsterUp, .crUp, #partyUp {
        border-top: 1px solid $dark;
        border-bottom: 1px solid white;
        margin: -4px 0 -1px -1px;
        border-radius: 0 5px 0 0;
    }
    .upArrow {
        margin: 6px auto;
        height: 0px;
        width: 0px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 6px solid $dark;
    }
    .downArrow {
        margin: 4px auto;
        height: 0px;
        width: 0px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid $dark;
    }
    select {
        color: $dark;
        font-size: 30px;
        padding: 3px 10px;
        width: 150px;
        border: 1px solid $dark;
        border-radius: 5px;
        @extend %headfont;
    }
    input:focus, select:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid $shadowcolor;
    }
    button {
        color: $dark;
        font-size: 30px;
        padding: 10px 18px 6px 10px;
        cursor: pointer;
        margin: 10px;
        background: $boxcoloropaque;
        border: 1px solid black;
        border-radius: 8px;
        @extend %headfont;
    }
    button[name='addLevel'], button[name='addMonster'] {
        margin: 0 10px 0 0;
    }
    button:hover {
        color: white;
        background: $shadowcoloropaque;
    }
    button:active {
        box-shadow: 0 0 5px $shadowcolor;
    }
    button:focus {
        outline: none;
    }
    #rolls, #rollTotal {
        margin: 10px 20px 0 20px;
        @extend %headfont;
    }
}

.races {
    .racesGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 60%;
        margin: 0 auto;
        span {
            position: relative;
            height: 206px;
            font-size: 35px;
            cursor: pointer;
        }
        a {
            color: white;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            transition: all 150ms ease-in-out;
            @extend %headfont;
        }
        a:hover {
            background: rgba(20, 20, 20, .7);
            font-size: 40px;
        }
        #dwarfRace {
            background: url("../images/dwarf.png");
            background-repeat: no-repeat;
            background-position: 85% 5%;
        }
        #elfRace {
            background: url("../images/elf.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #halflingRace {
            background: url("../images/halfling.png");
            background-repeat: no-repeat;
            background-position: 40% 5%;
        }
        #humanRace {
            background: url("../images/human.png");
            background-repeat: no-repeat;
            background-position: 50% 5%;
        }
        #dragonbornRace {
            background: url("../images/dragonborn.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #gnomeRace {
            background: url("../images/gnome.png");
            background-repeat: no-repeat;
            background-position: 40% 15%;
        }
        #halfElfRace {
            background: url("../images/half-elf.png");
            background-repeat: no-repeat;
            background-position: 100% top;
        }
        #halfOrcRace {
            background: url("../images/half-orc.png");
            background-repeat: no-repeat;
            background-position: 80% 5%;
        }
        #tieflingRace {
            background: url("../images/tiefling.png");
            background-repeat: no-repeat;
            background-position: 80% top;
        }
    }
}

.classes {
    .classesGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        span {
            position: relative;
            height: 308px;
            font-size: 35px;
            cursor: pointer;
        }
        a {
            color: white;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            transition: all 150ms ease-in-out;
            @extend %headfont;
        }
        a:hover {
            background: rgba(20, 20, 20, .7);
            font-size: 40px;
        }
        #barbarianClass {
            background: url("../images/barbarian.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #bardClass {
            background: url("../images/bard.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #clericClass {
            background: url("../images/cleric.png");
            background-repeat: no-repeat;
            background-position: 75% top;
        }
        #druidClass {
            background: url("../images/druid.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #fighterClass {
            background: url("../images/fighter.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #monkClass {
            background: url("../images/monk.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #paladinClass {
            background: url("../images/paladin.png");
            background-repeat: no-repeat;
            background-position: 100% top;
        }
        #rangerClass {
            background: url("../images/ranger.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #rogueClass {
            background: url("../images/rogue.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #sorcerorClass {
            background: url("../images/sorceror.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #warlockClass {
            background: url("../images/warlock.png");
            background-repeat: no-repeat;
            background-position: 75% top;
        }
        #wizardClass {
            background: url("../images/wizard.png");
            background-repeat: no-repeat;
            background-position: 55% 8%;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 40px;
    a {
        padding: 0 20px 0 20px;
        text-decoration: none;
        color: $dark;
    }
    a:hover {
        color: $shadowcolor;
    }
}
.details {
    position: relative;
    img {
        max-width: 35%;
        margin: 0 0 0 25px;
        float: right;
    }
	.nav2 {
		float: right;
		clear: right;
		display: grid;
		position: sticky;
		top: 200px;
		grid-template-columns: 1fr;
		width: 200px;
		text-align: center;
		border: 1px solid $dark;
		border-radius: 10px;
		padding: 20px 0;
		box-shadow: 0 0 5px $shadowcolor;
		background-color: rgba(255, 255, 255, 0.95);
		margin: 10px 0 0 0;
		@extend %headfont;
		a {
			display: inline-block;
			color: $dark;
			margin: 5px;
			font-size: 30px;
		}
		a:hover {
			color: $shadowcolor;
		}
	}
    div {
        text-align: left;
        margin: 15px 0 0 0;
    }
	section {
		margin-right: 225px;
	}
    h5 {
        margin: 15px 0 0 0;
    }
    h6 {
        margin: 15px 0 0 40px;
        color: $dark;
    }
    p {
        margin: 10px 0 0 0;
    }
    a {
        text-decoration: none;
        color: $shadowcolor;
    }
    a:hover {
        color: $light;
    }
    ul {
        margin: 10px 0 0 60px;
    }
    .classspecific {
		section {
			margin-right: 0;
		}
        h5 {
            cursor: pointer;
        }
        h5:hover {
            color: $shadowcolor;
        }
    }
    .racespecific {
        margin: 15px 0 0 40px;
    }
}

.hanging {
    p {
        text-indent: -40px;
        margin: 10px 0 0 80px;
    }
}
.dark {
    color: $dark;
    margin: 0;
    padding: 0;
}
.turn {
    transform: rotateZ(-90deg);
}


.subraces {
    p {
        margin: 10px 0 0 40px;
    }
    .hanging {
        p {
            text-indent: -40px;
            margin: 10px 0 0 120px;
        }
    }
    ul {
        li {
            margin-left: 40px;
        }
    }
}

.raceFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 0 0 40px;
    border: 2px solid #323232;
    border-radius: 5px;
    box-shadow: 0 0 5px #852617;
    padding: 5px 5px 0 5px;
    background-color: rgba(255, 255, 255, 0.4);
    h5, p {
        margin: 0;
        min-height: 32px;
        padding: 3px 6px 2px 6px;
        text-indent: 0;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .oddrow {
        background-color: rgba(152, 167, 77, 0.4);
    }
}

.levelFeatures {
    display: grid;
    margin: 10px 0 0 0;
    border: 2px solid $dark;
    border-radius: 5px;
    box-shadow: 0 0 5px $shadowcolor;
    padding: 5px 5px 0 5px;
    background-color: rgba(255, 255, 255, .4);
    h5, h6, p {
        margin: 0;
        min-height: 32px;
        padding: 3px 6px 2px 6px;
        text-indent: 0;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .oddrow {
        background-color: $boxcoloropaque;
    }
}

#barbarianLevelFeatures {
    grid-template-columns: minmax(65px, 1fr) 1fr 2fr minmax(53px, 1fr) 1fr;
}

#bardLevelFeatures {
    grid-template-columns: minmax(65px, 1fr) 1fr 2fr;
}

#bardSpellLevelFeatures {
    grid-template-columns: minmax(65px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#clericLevelFeatures {
    grid-template-columns: minmax(65px, 1fr) 1fr 2fr;
}
#clericSpellLevelFeatures {
    grid-template-columns: minmax(65px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#clericDomainLevelFeatures {
	grid-template-columns: minmax(65px, 1fr) 1fr;
	margin: 10px 0 0 40px;
}

#druidLevelFeatures {
	grid-template-columns: minmax(65px, 1fr) 1fr 1fr 1fr;
	margin: 10px 0 0 40px;
}
#druidCircleLevelFeatures {
	grid-template-columns: minmax(65px, 1fr) 1fr;
	margin: 10px 0 0 40px;
}

.spellgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 40px;
    a {
        padding: 0 20px 0 20px;
        text-decoration: none;
        color: $dark;
    }
}
#spells {
    .spelllevels, .spellclasses, .spellschools, #back {
        display: none;
    }
    #back {
        text-align: left;
        margin: -20px 0 0 90px;
        span {
            cursor: pointer;
            font-size: 45px;
        }

    }
}
.spells {
    div {
        text-align: left;
        margin: 15px 0 0 0;
        .classhidevar, .levelhidevar, .schoolhidevar {
            display: none;
        }
        section {
            p {
                text-indent: 40px;
                margin: 15px 0 0 20px;
            }
            span {
                p {
                    margin: 5px 0 0 20px;
                }
            }
            ul {
                li {
                    margin-left: 80px;
                }
            }
            .capitalize {
                text-transform: capitalize;
            }
        }
    }
}
#filters {
    display: grid;
    grid-template-columns: 100px 100px 100px 1fr;
    margin: 0 auto 30px auto;
    max-width: 400px;
    span {
        cursor: pointer;
    }
    #filterHead {
        cursor: default;
    }
}
.selected {
    color: $shadowcolor;
}
.filter, #filterHead {
    position: relative;
    font-size: 30px;
    text-align: center;
    margin: 0 10px;
    @extend %headfont;
    .filterlist, .levelfilterlist {
        position: absolute;
        display: none;
        border: 1px solid $dark;
        border-radius: 5px;
        padding: 0 5px;
        box-shadow: 0 0 5px $shadowcolor;
        background-color: rgba(255, 255, 255, .9);
        top: 20px;
        left: -10px;
        z-index: 1;
        text-align: center;
        font-size: 25px;
        width: 90px;
        div {
            cursor: pointer;
            @extend %headfont;
        }
        div:hover {
            color: $shadowcolor;
        }
        input {
            display: none;
            height: 12px;
            width: 12px;
            margin: 0 0 0 5px;
        }
    }
    span:hover {
        color: $shadowcolor;
    }
}

#expandcollapse {
    float: right;
    margin: 0;
    button {
        color: $dark;
        font-size: 25px;
        padding: 10px 18px 6px 10px;
        cursor: pointer;
        background: $boxcoloropaque;
        border: 1px solid black;
        border-radius: 8px;
        @extend %headfont;
    }
    button:hover {
        color: white;
        background: $shadowcoloropaque;
    }
    button:active {
        box-shadow: 0 0 5px $shadowcolor;
    }
    button:focus {
        outline: none;
    }
}


.feats {
    div {
        text-align: left;
        margin: 15px 0 0 0;
        section {
            p {
                text-indent: 40px;
                margin: 15px 0 0 20px;
            }
            span {
                p {
                    text-indent: -40px;
                    margin: 15px 0 0 60px;
                }
            }
            ul {
                color: $light;
                margin: 15px 0 0 80px;
            }
        }
    }
}

.levelup {
    .levelupGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        span {
            position: relative;
            height: 308px;
            font-size: 30px;
            cursor: pointer;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            transition: all 150ms ease-in-out;
            color: white;
            text-decoration: none;
            @extend %headfont;
        }
        a:hover {
            background: rgba(20, 20, 20, .7);
            font-size: 35px;
        }
        #barbarianLevelUp {
            background: url("../images/barbarian.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #bardLevelUp {
            background: url("../images/bard.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #clericLevelUp {
            background: url("../images/cleric.png");
            background-repeat: no-repeat;
            background-position: 75% top;
        }
        #druidLevelUp {
            background: url("../images/druid.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #fighterLevelUp {
            background: url("../images/fighter.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #monkLevelUp {
            background: url("../images/monk.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #paladinLevelUp {
            background: url("../images/paladin.png");
            background-repeat: no-repeat;
            background-position: 100% top;
        }
        #rangerLevelUp {
            background: url("../images/ranger.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #rogueLevelUp {
            background: url("../images/rogue.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #sorcerorLevelUp {
            background: url("../images/sorceror.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
        #warlockLevelUp {
            background: url("../images/warlock.png");
            background-repeat: no-repeat;
            background-position: 75% top;
        }
        #wizardLevelUp {
            background: url("../images/wizard.png");
            background-repeat: no-repeat;
            background-position: 50% top;
        }
    }
}

.levels {
    #filters {
        display: inline;
    }
    span {
        margin: 0 auto;
    }
    a {
        text-decoration: none;
        color: $shadowcolor;
    }
    a:hover {
        color: $dark;
    }
    ul {
        margin: 0 0 0 40px;
        li {
            color: $dark;
            margin: 0;
        }
    }
    button {
        padding: 0;
    }
    .timeline-container {
        font-size: 18px;
    }
    .timelineflex {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
    }
    .filter {
        @extend %bodyfont;
        margin: 0;
        font-size: 22px;
        div {
            margin: 10px 0 0 0;
        }
        span {
            font-size: 30px;
            @extend %headfont;
        }
        .filterlist {
            display: none;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            height: 180px;
            width: 380px;
            left: calc(50% - 200px);
            top: 142px;
            padding: 10px;
            div {
                @extend %headfont;
                font-size: 30px;
                padding: 5px 0 0 0;
                margin: 0;
                cursor: pointer;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 22px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, .3);
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50, 50, 50, .5);
}

@media screen and (max-width: 1360px) {
	.homegrid {
        grid-template-columns: 1fr;
        margin: 10px 15% 50px 15%;
    }
    .races {
        .racesGrid {
            width: 100%;
        }
    }
}
@media screen and (max-width: 800px) {
    main {
        margin: 10px 5% 50px 5%;
    }
    header {
        padding: 0;
        height: 70px;
        display: grid;
        grid-template-columns: 1fr 55px;
        text-align: left;
        top: 0;
        nav {
            .hamburger {
                display: block;
            }
            .links {
                display: none;
                grid-template-columns: 1fr;
                position: fixed;
                left: calc(10% + 10px);
                top: 70px;
                width: 80%;
                text-align: center;
                border: 1px solid $dark;
                border-radius: 10px;
                padding: 20px 0;
                box-shadow: 0 0 5px $shadowcolor;
                background-color: rgba(255, 255, 255, .95);
                a {
                    display: inline-block;
                    color: $shadowcolor;
                    margin: 15px 5px;
                    font-size: 35px;
                }
                a:hover {
                    color: $dark;
                }
            }
        }
        h1 {
            margin: 8px 0 0 20px;
            font-size: 30px;
        }
    }
	.homegrid {
        margin: 10px 5% 50px 5%;
    }

	.details {
		.nav2 {
			display: none;
		}
		section {
			margin-right: 0;
		}
	}

    .classes {
        .classesGrid {
            grid-template-columns: 1fr 1fr 1fr;
            span {
                height: 154px;
            }
        }
    }
    .levelup {
        .levelupGrid {
            grid-template-columns: 1fr 1fr 1fr;
            span {
                height: 154px;
            }
        }
    }
    .raceFeatures, .levelFeatures {
        h5, h6, p {
            padding: 3px 0 2px 0;
        }
    }
}
@media screen and (max-width: 560px) {
    main {
        margin: 10px 1% 48px 1%;
    }
    .homegrid {
        margin: 10px 0 50px 0;
    }
    .homebox {
        width: 400px;
    }
    #encounterXp, #monsterXp {
        input[name='numPlayers'], input[name='numMonsters'] {
            margin: 0 0 10px 10px;
        }
        input[name='level'], input[name='cr'] {
            margin: 0 0 0 10px;
        }
        #partyUp, #partyDown {
             margin-right: -1px;
        }
    }
    .grid {
        grid-gap: 10px;
    }
    h2 {
        margin: 0 0 10px 0;
    }
    #filters {
        grid-template-columns: 1fr 1fr;
    }
    .filter {
        .filterlist, .levelfilterlist {
            position: fixed;
            top: 240px;
            left: calc(50% - 40px);
        }
    }
    #expandcollapse {
        float: none;
        text-align: center;
    }
    .levels {
        .filter {
            .filterlist {
                position: absolute;
                left: calc(50% - 200px);
                top: 172px;
            }
        }
    }
    .timeline-container {
        width: 400px;
    }
    .timeline-list {
        width: 400px;
    }
    .timeline-item {
        width: 360px;
        height: 420px;
    }
}
@media screen and (max-width: 400px) {
    main {
        margin: 0 0 30px 0;
    }
    header {
        h1 {
            font-size: 25px;
            margin: 12px 0 0 20px;
        }
    }
    .races {
        .racesGrid {
            width: 80%;
            margin: 0 auto;
            grid-template-columns: 1fr;
            span {
                height: 75px;
            }
            #dwarfRace {
                background-position: 65% 17%;
            }
            #elfRace {
                background-position: 50% 4%;
            }
            #halflingRace {
                background-position: 0% 15%;
            }
            #humanRace {
                background-position: 30% 7%;
            }
            #dragonbornRace {
                background-position: 20% 8%;
            }
            #gnomeRace {
                background-position: 12% 18%;
            }
            #halfElfRace {
                background-position: 60% 4%;
            }
            #halfOrcRace {
                background-position: 75% 10%;
            }
            #tieflingRace {
                background-position: 50% 3%;
            }
        }
    }
    .classes {
        .classesGrid {
            grid-template-columns: 1fr;
            width: 80%;
            margin: 0 auto;
            span {
                height: 75px;
            }
            #barbarianClass {
                background-position: 100% 5%;
            }
            #bardClass {
                background-position: 100% 10%;
            }
            #clericClass {
                background-position: 100% 17%;
            }
            #druidClass {
                background-position: 50% 10%;
            }
            #fighterClass {
                background-position: 100% 7%;
            }
            #monkClass {
                background-position: 100% 7%;
            }
            #paladinClass {
                background-position: 100% 10%;
            }
            #rangerClass {
                background-position: 100% 7%;
            }
            #rogueClass {
                background-position: 100% 8%;
            }
            #sorcerorClass {
                background-position: 100% 7%;
            }
            #warlockClass {
                background-position: 100% 8%;
            }
            #wizardClass {
                background-position: 100% 15%;
            }
        }
    }
    .levelup {
        .levelupGrid {
            grid-template-columns: 1fr;
            width: 80%;
            margin: 0 auto;
            span {
                height: 75px;
            }
            #barbarianLevelUp {
                background-position: 100% 5%;
            }
            #bardLevelUp {
                background-position: 100% 10%;
            }
            #clericLevelUp {
                background-position: 100% 17%;
            }
            #druidLevelUp {
                background-position: 50% 10%;
            }
            #fighterLevelUp {
                background-position: 100% 7%;
            }
            #monkLevelUp {
                background-position: 100% 7%;
            }
            #paladinLevelUp {
                background-position: 100% 10%;
            }
            #rangerLevelUp {
                background-position: 100% 7%;
            }
            #rogueLevelUp {
                background-position: 100% 8%;
            }
            #sorcerorLevelUp {
                background-position: 100% 7%;
            }
            #warlockLevelUp {
                background-position: 100% 8%;
            }
            #wizardLevelUp {
                background-position: 100% 15%;
            }
        }
    }
}
@media screen and (max-height: 800px) {
	.details {
		#classNav2 {
			a {
				font-size: 25px;
			}
		}
	}
}

@media screen and (max-height: 675px) {
	.details {
		#raceNav2 {
			a {
				font-size: 25px;
			}
		}
	}
}
